/* Social Menu */
#menu-social-menu.menu a {padding-right: 0; }
ul#menu-social-menu li {margin-right: 0; margin-left: 10px;; }
#menu-social-menu li a {/*width: 100px;*/ color: #000; text-decoration: none;}
#menu-social-menu li a:hover { color: orange; text-decoration: underline;}

/*Email*/
#menu-social-menu .menu-email a {
	display:block;
	height:21px;
	width:25px;
	/* Attempt to fix zoom issue */
	padding:0;
	outline:none;
	text-indent:-9999px;
	/*
	Thesis Version
	background-image:url('images/expedition-sprite-2.png');
  */
  background-image:url('../../assets/images/expedition-sprite-2.png');
	background-position: 0 0;
	border-style: none;
}

#menu-social-menu .menu-email a:hover {

	background-position: 0 23px;

}

/*LinkedIn*/
#menu-social-menu .menu-linkedin a {
	display: block;
	height: 22px;
	width: 22px;
	padding: 0;
	outline: none;
	text-indent: -9999px;
	/*background-image: url('images/expedition_website_social_sprite.png');*/
	background-image: url('../../assets/images/expedition-sprite-2.png');
	background-position: -35px 0;
	border-style: none;
}

#menu-social-menu .menu-linkedin a:hover {
	background-position: -35px 23px;
}

/*Twitter*/
#menu-social-menu .menu-twitter a {
	display: block;
	height: 22px;
	width: 25px;
	padding: 0;
	outline: none;
	text-indent: -9999px;
	background-image: url('../../assets/images/expedition-sprite-2.png');
	background-position: -64px 0;
	border-style: none;
	text-decoration: none;
}
#menu-social-menu .menu-twitter a:hover {
	background-position: -64px 23px;
	text-decoration: none;
}

.social_menu_wrapper {

  float: none;

}

ul#menu-social-menu li {
  margin-right: 10px;
  margin-left: 0;
}
